<mat-card>
  <form
    (submit)="onSave(postForm)"
    #postForm="ngForm">
      <mat-form-field>
        <input 
          matInput
          type="text"
          name="title"
          ngModel
          #title="ngModel"
          placeholder="Post title"
          required>
        <mat-error *ngIf="title.invalid">Title is required</mat-error>
      </mat-form-field>
    <mat-form-field>
      <textarea 
      matInput
        rows="6"
        name="content"
        ngModel
        #content="ngModel"
        placeholder="Post Content"
        required>
      </textarea>
      <mat-error *ngIf="content.invalid">Content is required</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">
      Save Post
    </button>
  </form>
</mat-card>
